@{
    ViewBag.Title = "Event";
}

<article>
    <script>
        Card.init();
    </script>
    <section>
        <div class="text-auto-size">
            <p class="yellow">8:00<sub>PM</sub></p>
            <p>Dinner with folks tonight</p>
        </div>
    </section>
    <footer>
        <div>Their place</div>
    </footer>
</article>
