@model SLEOC.Models.CardHybridMosaicModel

@{
    ViewBag.Title = "HybridMosaic";
}

<script>
    Card.init();
</script>

    <article class="photo">
        <ul class="mosaic mosaic@(SLEOC.Helpers.MathHelpers.Clamp(Model.ImageURL.Count, 1, 8))">
            @for (int i = 0; i < Math.Min(Model.ImageURL.Count, 8); i++)
            {
                <li style="background-image: url(@Model.ImageURL[i])"></li>
            }
        </ul>
        <div class="overlay-gradient-tall-dark" />
        <section>
            <p class="text-auto-size">@Html.Raw(Model.Description)</p>
        </section>
        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>
