@model SLEOC.Models.CardHybridModel

@{
    ViewBag.Title = "Hybrid";
}

<script>
    Card.init();
</script>

    <article class="photo">
        <img src="@Model.ImageURL" width="100%" height="100%">
        <div class="overlay-gradient-tall-dark" />
        <section>
            <p class="text-auto-size">@Html.Raw(Model.Description)</p>
        </section>
        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>
