@model SLEOC.Models.CardListModel

@{
    ViewBag.Title = "List";
}

<script>
    Card.init();
</script>

    <article>
        <section>
            <ul class="text-x-small">
                @foreach (var itemstring in Model.Item)
                {
                    <li>@Html.Raw(itemstring)</li>
                }
            </ul>
        </section>
        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>


