@model SLEOC.Models.CardTextModel

@{
    ViewBag.Title = "Text";
}

<script>
    Card.init();
</script>

    <article>
        <section>
            <div class="text-auto-size">
                <p>@Html.Raw(Model.Title)</p>
                <p>@Html.Raw(Model.Description)</p>
            </div>
        </section>

        @if (Model.ShowLeftFooter)
        {
            <footer>
                <p>
                    @Html.Raw(Model.LeftFooter)
                </p>
            </footer>
        }

        @if (Model.ShowRightFooter)
        {
            <footer>
                <time>
                    @Html.Raw(Model.RightFooter)
                </time>
            </footer>
        }
    </article>