@{
    ViewBag.Title = "Xor";
}
<div style="color:white;">
    <h2>Encrypted</h2>
    <p>@ViewBag.Encrypted</p>
    <h2>Encoded</h2>
    <p>@ViewBag.Encoded</p>
    <h2>Decrypted</h2>
    <p>@ViewBag.Decrypted</p>
</div>
