@{
    ViewBag.Title = "Start";
}

<div id="card" class="card">
    @Html.Action("List", "Card")
    @Html.Action("Text", "Card")
</div>
<div id="leftscroll" class="scroll leftscroll"></div>
<div id="rightscroll" class="scroll rightscroll"></div>

