<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8" />
        <title>Google Glass UI - @ViewBag.Title</title>
    </head>
    <body class="full">
        <div id="scalable" class="scalable">
            @RenderBody()
        </div>
    </body>
</html>
